html{
  font-family: 'Press Start 2P', cursive;
}

body {
  padding: 0;
  text-align: center;
}

body button {
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: green;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;  
}

#game-over{
  color: green;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}


#canvas {
  border-radius: 5px;
  background-color: black;
}
